*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,body{
    font-size: 18px;
    

}

.container{
    width:100%;
    max-width: 1200px;
    margin: $spacer-0 auto;
    padding-left: $spacer-3;
    padding-right: $spacer-3;
    flex-wrap: wrap;
    
}